[submodule "libs/audio_engine"]
	path = libs/firstparty/audio_engine
	url = https://github.com/minervarr/audio_engine

[submodule "libs/regen_atlas"]
	path = libs/firstparty/regen_atlas
	url = https://github.com/minervarr/regen_atlas

[submodule "libs/libebml"]
	path = libs/thirdparty/libebml
	url = https://github.com/Matroska-Org/libebml

[submodule "libs/libmatroska"]
	path = libs/thirdparty/libmatroska
	url = https://github.com/Matroska-Org/libmatroska
[submodule "libs/flac"]
	path = libs/thirdparty/flac
	url = https://github.com/xiph/flac
[submodule "libs/ncnn"]
	path = libs/thirdparty/ncnn
	url = https://github.com/Tencent/ncnn.git
[submodule "libs/rnnoise"]
	path = libs/thirdparty/rnnoise
	url = https://github.com/xiph/rnnoise.git
[submodule "libs/firstparty/Vk_Canvas_Lb_LAW"]
	path = libs/firstparty/Vk_Canvas_Lb_LAW
	url = https://github.com/minervarr/Vk_Canvas_Lb_LAW
[submodule "libs/firstparty/app_shell"]
	path = libs/firstparty/app_shell
	url = https://github.com/minervarr/app_shell
[submodule "libs/thirdparty/libjxl"]
	path = libs/thirdparty/libjxl
	url = https://github.com/libjxl/libjxl
